.error {
    margin: 0 auto;
    overflow: hidden;
    width: 1200px;
}

.error_center{
	overflow: hidden;
	position: relative;
}

.error_location{
	margin: 0 auto;
    width: 960px;
}

.error_pic{
	float: left;
	margin: 20px;
}

.error_text{
	float: left;
	margin: 70px 20px;
}

.error_text h1{
	font: 20px/24px "微软雅黑";
	height: 45px;
	border-bottom: 1px dashed #939393;
}

.error_text p {
	font: 16px/24px "微软雅黑";
	margin: 15px 0;
}


.error_text p span{
	font: 16px/24px "微软雅黑";
	margin: 0 10px;
	color: #2792E2;
}

.error_text p span a{
	color: #2792E2;
}


.cle{
	margin-left: 10px;
}