.bbs_index{
	width: 1000px;
	margin: 0 auto;
}

.search{
	height: 40px;
	width: 100%;
}

.search .searchtext{
	margin: 0 auto;
	width: 1000px;
}

.searchtext .search-keyword{
    border: medium none;
    color: #9B9A9A;
    height: 25px;
    line-height: 20px;
    width: 220px;
    border:1px solid #9B9B9B;
    margin-top: 5px;
    float: left;
}

.searchtext .search_ico{
	background-color: #9B9B9B;
    float: left;
    height: 27px;
    text-align: center;
    margin-top: 5px;
    margin-left: 5px;
    width: 40px;
    color: #FFFFFF;
    font: bold 15px/26px "微软雅黑";
}

.search .hot{
	color: #404040;
    display: inline-block;
    float: left;
    height: 24px;
    line-height: 25px;
    margin-left: 5px;
    margin-top: 5px;
    overflow: hidden;
    vertical-align: top;
}

.search .hot a{
	display: inline-block;
    margin: 0 8px;
}

.hotfrom .item {
    float: left;
    width: 200px;
}

.hotfrom .item .icon {
    float: left;
    overflow: hidden;
    width: 60px;
}

.cle:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.hotfrom .item .icon1 a {
    background-position: 0px 0px;
}

.hotfrom .item .icon2 a {
    background-position: 0px -60px;
}

.hotfrom .item .icon3 a {
    background-position: 0px -120px;
}

.hotfrom .item .icon4 a {
    background-position: 0px -180px;
}

.hotfrom .item .icon5 a {
    background-position: 0px -240px;
}

.hotfrom .item .icon a {
    background-image: url("../images/sprite.png");
    background-repeat: no-repeat;
    display: block;
    height: 58px;
    /*margin-left: 13px;*/
    margin-top: 4px;
    width: 58px;
}

.hotfrom .item .link li.high {
    margin-bottom: 2px;
}

.hotfrom .item .link li {
    height: 22px;
    line-height: 22px;
    overflow: hidden;
}

.hotfrom .item .link li.high a {
    color: #333333;
    font-weight: bold;
}

.hotfrom .item .link a {
    color: #777777;
    font-size: 14px;
}

.mainfocus{
    position: relative;
}

.mainfocus .bbs li {
    position: relative;
}
.mainfocus .bbs a {
    position: absolute;
}
.mainfocus .bbs .img1 {
    left: 0;
    top: 0;
}
.mainfocus .bbs .img2 {
    left: 405px;
    top: 0;
}
.mainfocus .bbs .img3 {
    right: 0;
    top: 0;
}
.mainfocus .bbs .img4 {
    top: 205px;
    left: 0;
}
.mainfocus .bbs .img5 {
    top: 205px;
    left: 305px;
}

.xsit_bbs { width: 1000px; height: 405px; margin:25px auto; position: relative; overflow:hidden; margin-bottom: 15px; }

/*数字按钮样式*/
.xsit_bbs .num { overflow:hidden; height: 25px; position: absolute; bottom:12px; left: 15px; zoom:1; z-index:3 }
.xsit_bbs .num li { width: 25px; height: 25px; line-height: 25px; text-align: center; font-weight: 400; font-family: "微软雅黑", Arial; color: #FFFFFF; background: #444444; margin-right: 10px; border-radius:50%; cursor:pointer; float: left; }
.xsit_bbs .num li.on { background: #FF7700; } /*当前项*/

/*上一个  下一个*/
.xsit_bbs .prev,
.xsit_bbs .next { display: none; width: 40px; height: 100px; background: url(../images/btn.png) no-repeat; position: absolute; top: 115px;}
.xsit_bbs .prev { left: 0; }
.xsit_bbs .next { right: 0; background-position: right }

.hotitem{
    overflow: hidden;
    margin: 10px 0;
}

.hotitem .hotitem_title{
    border-bottom: 2px solid #2792E2;
    overflow: hidden;
}

.hotitem .hotitem_title h1 a{
    font: bold 24px/26px "微软雅黑";
    color: #2792E2;
    text-indent: 30px;
    float: left;
    margin-bottom: 10px;
}

.hotitem .hotitem_title span{
    float: right;
    line-height: 36px;
    text-align: right;
}

.hotitem_content .hotitem_left{
    float: left;
    width: 255px;
    margin-right: 20px;
}

.hotitem_content .hotitem_left .hot_img{
    margin-top: 20px;
}

.hotitem_content .hotitem_left .hot_img img{
    width: 255px;
    height: 213px;
}

.hotitem_content .hotitem_left .hot_posts h2{
    text-align: center;
    margin: 5px 0px;
}

.hotitem_content .hotitem_left .hot_posts ul{
    margin: 0 0 0 15px;
}

.hotitem_content .hotitem_left .hot_posts ul li{
    line-height: 31px;
    list-style-type: disc;
}

.hotitem_content .hotitem_center{
    width: 450px;
    float: left;
    margin-top: 20px;
    margin-right: 20px;
}

.hotitem_center .hotitem_focus{
    border-bottom: 1px dashed #D5D5D5;
}

.hotitem_center .hotitem_focus .hot{
    margin-bottom: 15px;
}

.hotitem_center .hotitem_focus .hot h3{
    text-align: center;
    padding: 10px 0;
}

.hotitem_center .hotitem_list ul{
    margin: 10px 0px;
}

.hotitem_center .hotitem_list ul li{
    line-height: 30px;
}

.hotitem_content .hotitem_right{
    float: left;
    width: 255px;
}

.hotitem_content .hotitem_right h2{
    text-align: center;
    padding: 15px 0;
}

.hotitem_content .hotitem_right ul{
    
}

.hotitem_content .hotitem_right ul li{
    line-height: 31px;
}

.hotitem_content .pic_list{
    margin-top: 20px;
}

.hotitem_content .pic_list ul{
    float: left; 
    margin-left: 4px;  
}

